In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as seabornInstance

from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
get_ipython().run_line_magic('matplotlib', 'inline')

In [4]:
data = pd.read_csv("Infant_Mortality_Rate_4.csv")

In [5]:
data.head()

   TIME  IMR
0  1971  129
1  1972  139
2  1973  134
3  1974  126
4  1975  140